.sub-menu {
  font-size: 14px;
}

button {
  width: 70px;
  height: 50px;
  background-color: #d9d9d9;
  border: none;
  position: absolute;
  top: 35px;
  left: 88%;
}
.icone-sino {
  position: absolute;
  top: 50px;
  left: 86%;
  opacity: 0.5;
}
.icone-user {
  width: 32px;
}

.icones {
  margin-right: 15px;
  width: 20px;
}
.disabled {
  color: currentColor;
  cursor: not-allowed;
  display: inline-block;
  pointer-events: none;
}
ul {
  line-height: 35px;
  right: 75.6%;
  box-shadow: 3px 3px #d9d9d961;
}
li {
  margin: 0 10px 0 10px;
}

.linha {
  border-bottom: 1.5px solid #e6e7eb;
}
