<form [formGroup]="emailForm">
  <h2 class="pt-2">Redefinir Senha</h2>

  <p class="sub-header">
    Digite o e-mail associado à sua conta e enviaremos instruções para redefinir
    sua senha.
  </p>

  <div class="form-floating mb-3 mt-3">
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="loginEmail"
      placeholder="Informe o seu e-mail"
      name="email"
      required
    />
    <label for="email">Informe seu e-mail</label>
    <div
      class="alert alert-danger"
      *ngIf="emailForm.get('loginEmail')?.errors?.['required'] && emailForm.get('loginEmail')?.touched"
    >
      O e-mail é obrigatório!
    </div>
    <div
      class="alert alert-danger"
      *ngIf="emailForm.get('loginEmail')?.errors?.['pattern'] && emailForm.get('loginEmail')?.touched"
    >
      E-mail inválido!
    </div>
  </div>

  <button class="btn btn-primary">Enviar Recuperação</button>
</form>
