.cards {
  margin-left: 18px;
  font-family: "Inter";
}
.card {
  width: 350px;
  height: 180px;
  border: 1px solid #f9f9f9;
  border-radius: 15px;
}
h5 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 35px;
}
p {
  font-weight: 600;
  font-size: 32px;
  margin-left: 10px;
}
