<div class="titulo">
  <h2>Coleções</h2>
  <app-botao [btnConfigs]="criar" (click)="criarColecao()"></app-botao>
</div>
<div class="tabela-colecao">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Coleção</th>
        <th scope="col">Responsável</th>
        <th scope="col">Estação-Lançamento</th>
        <th scope="col">Modelos</th>
        <th scope="col">Orçamento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a routerLink="/editar-colecao">Adidas</a></td>
        <td><a routerLink="/editar-colecao">Maria Eduarda</a></td>
        <td><a routerLink="/editar-colecao">Inverno 2023</a></td>
        <td><a routerLink="/editar-colecao">10</a></td>
        <td><a routerLink="/editar-colecao">R$ 9.500,00</a></td>
      </tr>
    </tbody>
  </table>
</div>
