<form [formGroup]="loginForm">
  <h2 class="header">Sign In</h2>

  <p class="sub-header">Insira suas credenciais para acessar sua conta</p>

  <div class="form-floating mb-3 mt-3">
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="loginEmail"
      placeholder="Informe o seu e-mail"
      name="email"
    />
    <label for="email">Informe seu e-mail</label>
    <div
      class="alert alert-danger"
      *ngIf="loginForm.get('loginEmail')?.errors?.['required'] && loginForm.get('loginEmail')?.touched"
    >
      O e-mail é obrigatório!
    </div>
    <div
      class="alert alert-danger"
      *ngIf="loginForm.get('loginEmail')?.errors?.['pattern'] && loginForm.get('loginEmail')?.touched"
    >
      E-mail inválido!
    </div>
  </div>

  <div class="form-floating mb-3 mt-3">
    <input
      type="password"
      class="form-control"
      id="senha"
      formControlName="loginSenha"
      placeholder="Informe sua senha"
      name="senha"
    />
    <label for="senha">Informe sua senha</label>
    <div
      class="alert alert-danger"
      *ngIf="loginForm.get('loginSenha')?.errors?.['pattern'] && loginForm.get('loginSenha')?.touched"
    >
      A senha precisa ter 8 caracteres! E ao menos uma letra maiúscula, uma
      minúscula, um número e um caractere especial!
    </div>
  </div>

  <button class="btn btn-primary form-button" (click)="enviarForm()">
    Entrar
  </button>
</form>

<div class="span-login">
  <span
    >Esqueceu sua senha?<a routerLink="/esqueci-senha">Redefinir senha</a></span
  >
  <span>Ainda não tem uma conta?<a href="#">Cadastre-se</a></span>
</div>
