form {
  position: absolute;
  width: 480px;
  min-height: 407px;
  padding: 130px 40px;
}

h2 {
  position: absolute;
  width: 79px;
  height: 29px;
  left: 201px;
  top: 33px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2c2c2c;
}
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #b4b6c1;
}
.sub-header {
  position: absolute;
  width: 352px;
  height: 19px;
  left: 64px;
  top: 94px;
}

.form-floating {
  display: flex;
  justify-content: center;
  align-items: center;
}

form label {
  font-size: 14px;
  color: #b4b6c1c2;
  left: 25px;
  top: 5px;
}

form input {
  width: 352px;
  height: 50px;
  border: 1px solid #b4b6c14f;
  margin-bottom: 12px;
  margin-top: 9px;
}

.alert-danger {
  position: absolute;
  top: 62px;
  font-size: 12px;
  padding: 5px;
}

form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px;
  position: absolute;
  width: 352px;
  height: 50px;
  left: 64px;
  top: 317px;
  background: #0073cf;
  border-radius: 6px;
  margin-top: 7%;
}

form button:hover {
  background: #0072cf84;
  transition: all 0.6s;
}
.span-login {
  width: 300px;
  margin-top: 480px;
  line-height: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 20%;
  gap: 12px;
}
span {
  color: #989898;
}
a {
  padding-left: 3px;
  text-decoration: none;
  font-weight: 500;
}
