<form [formGroup]="loginForm" (submit)="login()">
  <h2 class="header">Sign In</h2>
  <div class="alert alert-primary" *ngIf="this.exibirMsg">
    ERRO! E-mail e/ou Senha não conferem!
  </div>

  <p class="sub-header">Insira suas credenciais para acessar sua conta</p>

  <div class="form-floating mb-3 mt-3">
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      placeholder="Informe o seu e-mail"
      name="email"
      required
    />
    <label for="email">Informe seu e-mail</label>
    <div
      class="alert alert-danger"
      *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
    >
      O e-mail é obrigatório!
    </div>
    <div
      class="alert alert-danger"
      *ngIf="loginForm.get('email')?.errors?.['pattern'] && loginForm.get('email')?.touched"
    >
      E-mail inválido!
    </div>
  </div>

  <div class="form-floating mb-3 mt-3">
    <input
      type="password"
      class="form-control"
      id="senha"
      formControlName="senha"
      placeholder="Informe sua senha"
      name="senha"
      required
    />
    <label for="senha">Informe sua senha</label>
    <div
      class="alert alert-danger"
      *ngIf="loginForm.get('senha')?.errors?.['required'] && loginForm.get('senha')?.touched"
    >
      A senha é obrigatória!
    </div>
    <div
      class="invalid-feedback"
      *ngIf="loginForm.get('senha')?.errors?.['pattern'] && loginForm.get('senha')?.touched"
    >
      A senha precisa ter 8 caracteres! E ao menos uma letra maiúscula, uma
      minúscula, um número e um caractere especial!
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-block mb-4"
    [disabled]="loginForm.invalid"
  >
    Entrar
  </button>
</form>

<div class="span-login">
  <span
    >Esqueceu sua senha?<a routerLink="/esqueci-senha">Redefinir senha</a></span
  >
  <span>Ainda não tem uma conta?<a routerLink="/cadastro">Cadastre-se</a></span>
</div>
