<div class="container">
  <img src="../../../assets/icone-audaces.png" alt="Icone Audaces" />
  <form class="box-login">
    <h2>Sign In</h2>
    <p class="sub-header">Insira suas credenciais para acessar sua conta</p>
    <div class="form-floating mt-3 mb-4">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="Informe o seu e-mail"
      />
      <label for="floatingInput">Informe seu e-mail</label>
    </div>
    <div class="form-floating mb-4">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Informe sua senha"
      />
      <label for="floatingPassword">Informe sua senha</label>
    </div>
    <button class="btn btn-primary">Entrar</button>
  </form>
  <div class="span-login">
    <span>Esqueceu sua senha?<a href="#">Redefinir senha</a></span>
    <span>Ainda não tem uma conta?<a href="#">Cadastre-se</a></span>
  </div>
</div>
