<div class="titulo">
  <h2>Coleções</h2>
  <app-botao [btnConfigs]="criar" (click)="criarColecao()"></app-botao>
</div>
<div class="tabela-colecao">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Coleção</th>
        <th scope="col">Responsável</th>
        <th scope="col">Estação-Lançamento</th>
        <th scope="col">Modelos</th>
        <th scope="col">Orçamento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let colecao of listColecoes">
        <td>
          <a routerLink="/editar-colecao/{{ colecao.id }}">
            {{ colecao.nome }}</a
          >
        </td>
        <td>
          <a routerLink="/editar-colecao/{{ colecao.id }}">
            {{ colecao.responsavel }}</a
          >
        </td>
        <td>
          <a routerLink="/editar-colecao/{{ colecao.id }}">
            {{ colecao.estacao }}
          </a>
        </td>
        <td>
          <a routerLink="//editar-colecao/{{ colecao.id }}">
            {{ colecao.qtdModelos }}</a
          >
        </td>
        <td>
          <a routerLink="/editar-colecao/{{ colecao.id }}">
            {{ colecao.orcamento | currency : "BRL" }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
