* {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #a4a4a4;
}
img {
  position: relative;
  left: 70px;
  height: 32px;
  margin-bottom: 203px;
}
p {
  color: #b4b6c1;
  margin-bottom: 50px;
}

button {
  text-align: justify;
  width: 300px;
  height: 50px;
  background-color: #4c68ff;
  margin-bottom: 30px;
}

.menu {
  padding: 30px;
  margin-top: 58px;
  margin-left: 40px;
  width: 380px;
  height: 100%;
  border-right: 1.5px solid #b4b6c186;
}
