<h2>Editar Modelo</h2>
<div class="fundo">
  <form [formGroup]="editarModeloForm" *ngIf="editarModeloForm">
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="nome"
          formControlName="nome"
          placeholder="Nome do Modelo"
          name="nome"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="editarModeloForm.get('nome')?.errors?.['required'] && editarModeloForm.get('nome')?.touched"
        >
          Campo obrigatório!
        </div>
      </div>
      <div class="col">
        <select
          class="form-select"
          aria-label="Default select example"
          id="tipo"
          formControlName="tipo"
          required
        >
          <option value="" disabled selected>Tipo do modelo</option>
          <option value="Bermuda">Bermuda</option>
          <option value="Biquíni">Biquíni</option>
          <option value="Bolsa">Bolsa</option>
          <option value="Boné">Boné</option>
          <option value="Calça">Calça</option>
          <option value="Calçados">Calçados</option>
          <option value="Camisa">Camisa</option>
          <option value="Chapéu">Chapéu</option>
          <option value="Saias">Saias</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <select
          class="form-select"
          aria-label="Default select example"
          id="colecao"
          formControlName="colecao"
          required
        >
          <option value="" disabled selected>Selecionar coleção</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="responsavel"
          formControlName="responsavel"
          placeholder="Responsável pelo modelo"
          name="responsavel"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="editarModeloForm.get('responsavel')?.errors?.['required'] && editarModeloForm.get('responsavel')?.touched"
        >
          Campo obrigatório!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-check form-check-inline">
          <p>Possui bordado?</p>
          <input
            class="form-check-input"
            type="radio"
            name="bordado"
            id="bordado-true"
            value="bordado-true"
            formControlName="bordado"
            required
          />
          <label class="form-check-label radio" for="bordado-true">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="bordado"
            id="bordado-false"
            value="bordado-false"
            formControlName="bordado"
            required
          />
          <label class="form-check-label radio" for="bordado-false">Não</label>
        </div>
      </div>
      <div class="col">
        <div class="form-check form-check-inline">
          <p>Possui estampa?</p>
          <input
            class="form-check-input"
            type="radio"
            name="estampa"
            id="estampa-true"
            value="estampa-true"
            formControlName="estampa"
            required
          />
          <label class="form-check-label radio" for="estampa-true">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="estampa"
            id="estampa-false"
            value="estampa-false"
            formControlName="estampa"
            required
          />
          <label class="form-check-label radio" for="estampa-false">Não</label>
        </div>
      </div>
    </div>
    <img src="../../../assets/img-colecao.png" alt="Imagem coleção" />
  </form>
  <app-botao [btnConfigs]="excluirModelo" (click)="excluir()"></app-botao>
  <app-botao [btnConfigs]="salvarModelo" (click)="onSubmit()"></app-botao>
  <app-botao [btnConfigs]="cancelarModelo" (click)="cancelar()"></app-botao>
</div>
