<div class="titulo">
  <h2>Modelos</h2>
  <app-botao [btnConfigs]="criar" (click)="criarModelo()"></app-botao>
</div>
<div class="tabela-modelos">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ModeloID</th>
        <th scope="col">Nome do Modelo</th>
        <th scope="col">Responsável</th>
        <th scope="col">Coleção</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modelo of listaModelos">
        <td>
          <a routerLink="/editar-modelo/{{ modelo.id }}">{{ modelo.id }}</a>
        </td>
        <td>
          <a routerLink="/editar-modelo/{{ modelo.nome }}">{{ modelo.nome }}</a>
        </td>
        <td>
          <a routerLink="/editar-modelo/{{ modelo.responsavel }}">{{
            modelo.responsavel
          }}</a>
        </td>
        <td>
          <a routerLink="/editar-modelo/{{ modelo.colecao }}">{{
            modelo.colecao
          }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
