button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px;
  position: absolute;
  width: 352px;
  height: 50px;
  left: 64px;
  top: 280px;
  background: #0073cf;
  border-radius: 6px;
  margin-top: 15%;
}

button:hover {
  background: #0072cf84;
  transition: all 0.6s;
}
