.form {
  position: absolute;
  width: 480px;
  height: 450px;
  background: #ffffff;
  border-radius: 8px;
  top: 170px;
}

form {
  position: absolute;
  padding: 50px 40px;
  height: 470px;
}

h2 {
  position: absolute;
  width: 100px;
  height: 29px;
  left: 201px;
  top: -78px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2c2c2c;
}
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 5px;
  text-align: center;
  color: #b4b6c1;
}
.sub-header {
  position: absolute;
  width: 352px;
  height: 19px;
  left: 64px;
  top: 25px;
}
.form-floating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
}

form label {
  font-size: 14px;
  color: #b4b6c1c2;
  top: -10px;
}
form input {
  height: 45px;
  border: 1px solid #b4b6c14f;
}

form input[type="text"],
form input[type="email"] {
  width: 352px;
}
input[type="password"] {
  width: 152px;
}

.botao {
  position: relative;
  bottom: 275px;
  right: 39px;
}
.span-cadastro {
  width: 300px;
  margin-top: 10px;
  line-height: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 20%;
  gap: 12px;
  top: 570px;
}
span {
  color: #989898;
}
a {
  padding-left: 3px;
  text-decoration: none;
  font-weight: 500;
}
.info {
  position: absolute;
  width: 252px;
  height: 79px;
  left: 114px;
  top: 134px;
  text-align: center;
  line-height: 35px;
}
.alert-danger {
  position: absolute;
  top: 5px;
  left: 430px;
  font-size: 12px;
  padding: 5px;
  width: 200px;
  margin: 10px;
}
