<div class="form">
  <div *ngIf="mostraTela; else telaSecundaria">
    <form [formGroup]="cadastroForm" (submit)="fazerCadastro()">
      <h2 class="header">Sign Up</h2>

      <p class="sub-header">Insira seus dados para criar uma conta</p>

      <div class="form-floating mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Nome"
          formControlName="nome"
          required
        />
        <label for="nome">Nome</label>
        <div
          class="alert alert-danger"
          *ngIf="cadastroForm.get('nome')?.errors?.['required'] && cadastroForm.get('nome')?.touched"
        >
          O nome é obrigatório!
        </div>
      </div>

      <div class="form-floating mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="empresa"
          placeholder="Empresa"
          formControlName="empresa"
          required
        />
        <label for="empresa">Empresa</label>
        <div
          class="alert alert-danger"
          *ngIf="cadastroForm.get('empresa')?.errors?.['required'] && cadastroForm.get('empresa')?.touched"
        >
          O nome da empresa é obrigatório!
        </div>
      </div>

      <div class="form-floating mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          id="cnpj"
          placeholder="CNPJ"
          maxlength="14"
          formControlName="cnpj"
          required
        />
        <label for="cnpj">CNPJ</label>
        <div
          class="alert alert-danger"
          *ngIf="cadastroForm.get('cnpj')?.errors?.['required'] && cadastroForm.get('cnpj')?.touched"
        >
          O CNPJ é obrigatório!
        </div>
        <div
          class="alert alert-danger"
          *ngIf="cadastroForm.get('cnpj')?.errors?.['maxLength'] && cadastroForm.get('cnpj')?.touched"
        >
          O CNPJ não é válido!
        </div>
      </div>

      <div class="form-floating mb-3 mt-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Informe seu e-mail"
          formControlName="email"
          required
        />
        <label for="email">Informe seu e-mail</label>
        <div
          class="alert alert-danger"
          *ngIf="cadastroForm.get('email')?.errors?.['required'] && cadastroForm.get('email')?.touched"
        >
          O e-mail é obrigatório!
        </div>
        <div
          class="alert alert-danger"
          *ngIf="cadastroForm.get('email')?.errors?.['pattern'] && cadastroForm.get('email')?.touched"
        >
          E-mail inválido!
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="senha"
              placeholder="Senha"
              formControlName="senha"
              required
            />
            <label for="senha">Senha</label>
            <div
              class="alert alert-danger"
              *ngIf="cadastroForm.get('senha')?.errors?.['pattern'] && cadastroForm.get('senha')?.touched"
            >
              A senha precisa ter 8 caracteres! E ao menos uma letra maiúscula,
              uma minúscula, um número e um caractere especial!
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="password"
              id="confSenha"
              class="form-control"
              placeholder="Confirmar senha"
              formControlName="senha"
              required
            />
            <label for="confSenha">Confirmar senha</label>
            <div
              class="alert alert-danger"
              *ngIf="cadastroForm.get('senha')?.errors?.['pattern'] && cadastroForm.get('senha')?.touched"
            >
              A senha não confere!
            </div>
          </div>
        </div>
      </div>
      <app-botao class="botao" [btnConfigs]="criarConta"></app-botao>
    </form>
  </div>
  <div class="span-cadastro">
    <span>Já possui uma conta? <a routerLink="/login">Realizar login</a></span>
  </div>
  <ng-template #telaSecundaria>
    <p class="info">
      Seu cadastro foi efetuado com sucesso! Clique no botão abaixo para
      realizar o seu acesso através da tela de Login!
    </p>
    <app-botao [btnConfigs]="irLogin" routerLink="/login"></app-botao>
  </ng-template>
</div>
